body{
	margin: 0;
	font-family: helvetica, Arial, sans-serif;
	font-size: 17px;
	line-height: 25px;
	background-color: #ffffff;
}

header{
	background-color: black;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Square Peg', cursive;
}

/* Header styles */

header h1{
	color: white;
	font-size: 70px;
}

header img{
	border-radius: 170px;
    width: 300px;
    border: 15px solid #483a94;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	}

main img{
	max-width: 100%;
}

h2{
	font-size: 40px;
	color: #483a94;
	margin: 40px 0 10px;
}

a{
	color: #483a94;
}

a:hover{
	color: darkred;
}

footer{
	background-color: #483a94;
	text-align: center;
	color: white;
	padding: 10px;

}

footer p{
	margin: 0;
	font-size: 13px;
}

footer a{
	color: white;
}

footer a:hover{
	color: lightgrey;
}

p.caption{
	color: grey;
	font-style: italic;
	font-size: 13px;
	margin-top: 0;
	text-align: right;
}